<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <h1 align="center">Welcome Food Buff Admin</h1> <br> <br>

    {{!--------------------------------------------------------------------- ADD IN EMPLOYEE MODAL-------------------------------------------------------------}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployee">Add Employee</button>

    <div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ADD AN EMPLOYEE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/addEmployee" method="POST" enctype="multipart/form-data">
                {{#if salary}}
                    <select name="jobTitle" required>
                        {{#each salary as |item|}}
                            <option value="{{item.jobTitle}}">{{item.jobTitle}}</option>
                        {{/each}}
                    </select>
                {{/if}}
                <input type="text" name="name" placeholder="Name" required>
                <input type="tel" name="phoneNumber" placeholder="Contact Number" pattern="[0-9]{10}" required>
                <input type="text" name="resAdd" placeholder="Address" required> <br>
                <input type="password" name="password" placeholder="password" required>  <br>
                <input type="file" name="empImage" required>

                <input type="submit">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}

    

    {{#if employee}}
            {{#each employee as |jobs|}}
                <h1>{{@key}}</h1>
                <div class="row" style="margin: auto;">
                {{#each jobs as |emp|}}
                    <div class="col-sm-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="/employee/give/{{emp.dataValues.id}}" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{emp.dataValues.name}}</h5>
                        <p class="card-text">
                            <strong>
                                {{emp.dataValues.jobTitle}} Food Buff</strong> <br>
                            Contact Info: {{emp.dataValues.phoneNumber}}. <br>
                            Lives At: {{emp.dataValues.resAdd}} <br>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateEmployee"> Update </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteEmployee"> Delete </button> 
                        </p>
                    </div>
                    </div>
                    </div>
                {{/each}}
                </div>
            {{/each}}
    {{else}} 
        <h1>Hire Someone</h1>
    {{/if}}
    <br> <br>

    {{!-------------------------------------------------------- MODAL FOR UPDATE EMPLOYEE --------------------------------------------------}}

    <!-- Modal -->
    <div class="modal fade" id="updateEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h1>Update Employees</h1>
            Employee id:  <span id="addId"></span>

            <form action="/admin/updateEmployee" method="POST" enctype="multipart/form-data">
                <input type="text" name="jobTitle" placeholder="Job Title" required> <br>
                <input type="number" name="id" placeholder="Employee Id" required>
                <input type="text" name="name" placeholder="Name" required>
                <input type="tel" name="phoneNumber" placeholder="Contact Number" pattern="[0-9]{10}" required>
                <input type="text" name="resAdd" placeholder="Address" required> 
                <input type="file" name="empImage">
                <input type="submit"> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------}}

    {{!--------------------------------------------------------------------- DELETE EMPLOYEE MODAL-------------------------------------------------------------}}
        <div class="modal fade" id="deleteEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">FIRE EMPLOYEE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/removeEmployee" method="POST">
                    <input type="text" name="id" required> 
                    Are U sure that u want to <strong>FIRE</strong> <span id="empToBeDeleted"></span>!!
                <button type="submit">DELETE</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}

    {{!--------------------------------------------------------------------- ADD JOBS MODAL-------------------------------------------------------------}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addJob">Add Jobs</button>

    <div class="modal fade" id="addJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ADD A JOB</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/addJob" method="POST">
                <input type="text" name="jobTitle" placeholder="Job Title" required>
                <input type="number" name="salaryPm" placeholder="Salary P/M" required>
                <input type="number" name="monthlyHours" placeholder="monthlyHours" required>
                <input type="submit">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}


    {{#if salary}}
        <table align="center">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Salary Per Month</th>
                    <th>Monthly Hours</th>
                </tr>
            </thead>
            <tbody>
                {{#each salary as |item|}}
                    <tr>
                        <td>{{item.jobTitle}}</td>
                        <td>{{item.salaryPm}}</td>
                        <td>{{item.monthlyHours}}</td>
                        <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateJob"> Update </button> </td>
                        <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteJob"> Delete </button> </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}} 
        <h1>Add Some Jobs</h1>
    {{/if}}

    {{!-------------------------------------------------------- MODAL FOR UPDATE JOB --------------------------------------------------}}

    <div class="modal fade" id="updateJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">UPDATE JOB DESCRIPTION</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h1>Update Job</h1>
            <form action="/admin/updateJob" method="POST">
                <input type="text" name="jobTitle" placeholder="Job Title" required> <br>
                <input type="number" name="monthlyHours" placeholder="Monthly Hours" required>
                <input type="number" name="salaryPm" placeholder="Salary P/M" required>
                <input type="submit"> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------}}
    
    {{!--------------------------------------------------------------------- DELETE FROM MENU MODAL-------------------------------------------------------------}}
    <div class="modal fade" id="deleteJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">DELETE A JOB</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/removeJob" method="POST">
                <input type="text" name="jobTitle" required> 
                Are U sure that u want to delete <span id="jobToBeDeleted"></span> Job
            <button type="submit">DELETE</button>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}




   {{!--------------------------------------------------------------------- ADD IN MENU MODAL-------------------------------------------------------------}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMenu">Add Menu</button>

    <div class="modal fade" id="addMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ADD FOOD ITEMS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/addMenu" method="POST" enctype="multipart/form-data">
                <input type="text" name="itemName" placeholder="Item Name" required> <br>
                <select name="itemType">
                    <option value="Starters">Starters</option>
                    <option value="Main Course">Main Course</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drinks">Drinks</option>
                </select>
                <input type="number" name="itemPrice" placeholder="Price" required>
                <input type="file" name="itemImage" required>
                <input type="submit"> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}


    {{#if menu}}
        {{#each menu as |type|}}
            <h1>{{@key}}</h1>
            <div class="row" style="margin: auto;">
            {{#each type as |item|}}
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="/food/give/{{item.dataValues.id}}" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{item.dataValues.itemName}}</h5>
                        <p class="card-text">
                            Cost: <strong>Rs {{item.dataValues.itemPrice}}</strong> <br> <br>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateMenu"> Update </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteMenu"> Delete </button>
                        </p>
                    </div>
                    </div>
                    </div>
                
            {{/each}}
            </div>
        {{/each}}
    {{else}} 
        <h1>Add Some Items First</h1>
    {{/if}}

    {{!--------------------------------------------------------------------- UPDATE IN MENU MODAL-------------------------------------------------------------}}
    <div class="modal fade" id="updateMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">UPDATE FOOD ITEM</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/updateMenu" method="POST" enctype="multipart/form-data">
                <input type="number" name="id" placeholder="Item Id" required> <br>
                <input type="text" name="itemName" placeholder="Item Name" required> <br>
                <select name="itemType">
                    <option value="Starters">Starters</option>
                    <option value="Main Course">Main Course</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drinks">Drinks</option>
                </select>
                <input type="number" name="itemPrice" placeholder="Price" required>
                <input type="file" name="itemImage">
                <input type="submit"> 
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}

    {{!--------------------------------------------------------------------- DELETE FROM MENU MODAL-------------------------------------------------------------}}
    <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">DELETE FOOD ITEM</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/admin/removeMenu" method="POST">
                <input type="text" name="id" required> 
                Are U sure that u want to remove <span id="itemToBeDeleted"></span> from menu!!
            <button type="submit">DELETE</button>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-----------------------------------------------------------------------------------------------------------------------------------------------}}

    <script src="../scripts/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="../scripts/admin.js"></script>
</body>
</html>